[submodule "libraries/mcurses"]
	path = libraries/mcurses
	url = https://github.com/ChrisMicro/mcurses
[submodule "libraries/TeensyDebug"]
	path = libraries/TeensyDebug
	url = https://github.com/ftrias/TeensyDebug
[submodule "libraries/MicroNMEA"]
	path = libraries/MicroNMEA
	url = https://github.com/stevemarple/MicroNMEA
